<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.w3.org/1999/html">
  
  <head>

      <th:block th:include="common/include::header"></th:block>
      <th:block th:include="common/include::footer"></th:block>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form" id="userAddForm">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>用户名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="username"
                          th:value="${user?.username}" value="" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>

          </div>
          <div class="layui-form-item">
              <label for="mobile" class="layui-form-label">
                  <span class="x-red">*</span>手机
              </label>
              <div class="layui-input-inline">
                  <input type="text"
                          th:value="${user?.mobile}"
                         id="mobile" name="mobile" required="" lay-verify="phone"
                  autocomplete="off" class="layui-input">
              </div>

          </div>
          <div class="layui-form-item">
              <label for="deptId" class="layui-form-label">
                  <span class="x-red">*</span>部门
              </label>
              <div class="layui-input-inline">

                  <select  name="deptId" id="deptId" lay-verify="required">
                  <option value="">请选择部门</option>
                  <optgroup label="乌中支">
                      <option value="1001">人事处</option>
                  </optgroup>
                  <optgroup label="地州中支">
                      <option value="10001">伊犁中支</option>
                      <option value="10002">哈密中支</option>
                  </optgroup>
                  </select>
              </div>


          </div>
          <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red">*</span>角色</label>
              <div class="layui-input-block" >
                  <input type="checkbox"
                         th:if="${user!=null}"
                         th:each="role,roleStat:${roles}"
                         th:value="${role.roleId}" th:title="${role.name}" name="roleId"
                         lay-skin="primary"  checked="" readonly="readonly">
                  <input type="checkbox"
                         th:if="${user==null}"
                         th:each="roles,roleStat:${rolesAll}"
                         th:value="${roles.roleId}" th:title="${roles.name}" name="roleId"
                         lay-skin="primary"  >
              </div>
          </div>
            <div class="layui-form-item" style="margin-left: 150px">

                <button  class="layui-btn"   onclick="reset('userAddForm')">
                    重置
                </button>
                  &nbsp;
                <button  class="layui-btn" lay-filter="addUser" lay-submit="">
                    增加
                </button>
                &nbsp;
                <button  class="layui-btn"  onclick="off()">
                    取消
                </button>
            </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(adduSER)', function(data){
            console.log(data);
            //发异步，把数据提交给php
            layer.alert("增加成功", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
                // 可以对父窗口进行刷新 
                x_admin_father_reload();
            });
            return false;
          });
          
          
        });
    </script>

  </body>

</html>