<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title>添加行员</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" href="../../../css/font.css">
		<link rel="stylesheet" href="../../../css/xadmin.css">
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../../lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="../../../js/xadmin.js"></script>
		<script type="text/javascript" src="../../../js/cookie.js"></script>
		<script type="text/javascript" src="../../../js/common/verify.js"></script>
		<script type="text/jscript" src="../../../js/common/formOff.js"></script>
		<script type="text/jscript" src="../../../js/common/cache.js"></script>
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>

		<div class="x-body">
			<form class="layui-form" id="positiveForm" lay-filter="positiveForm">
				<div class="layui-form-item">
					<label for="username" class="layui-form-label">
						<span class="x-red">*</span>姓名
					</label>
					<div class="layui-input-inline">
						<input type="text" id="username" name="username" required="" lay-verify="required" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">
						<span class="x-red">*</span>请输入真实姓名
					</div>
				</div>
				<div class="layui-form-item">
					<label for="phone" class="layui-form-label">
						<span class="x-red">*</span>身份证
					</label>
					<div class="layui-input-inline">
						<input type="text" id="idCard" name="idCard" required="" lay-verify="required" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">
						<span class="x-red">*</span>将会成为登录系统唯一的登入名
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"><span class="x-red">*</span>类型</label>
					<div class="layui-input-block">
						<input type="radio" name="positiveType" lay-skin="primary" title="奖励情况" checked="">
						<input type="radio" name="positiveType" lay-skin="primary" title="巡视情况">
						<input type="radio" name="positiveType" lay-skin="primary" title="交流情况" checked="">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="L_pass" class="layui-form-label">
						<span class="x-red">*</span>简要描述
					</label>
					<div class="layui-input-inline">
						<input type="text" id="synopsis" name="synopsis" required="" lay-verify="required" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">
						必填项
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">具体描述</label>
					<div class="layui-input-block">
						<textarea placeholder="请输入内容" id="particularCase" name="particularCase" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<label for="L_repass" class="layui-form-label">
						<span class="x-red">*</span>文件编号
					</label>
					<div class="layui-input-inline">
						<input type="text" id="fileNumber" name="fileNumber" required="" lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="L_repass" class="layui-form-label">
						<span class="x-red">*</span>附件
					</label>
					<div class="layui-input-inline" style="width: 80px;">
						<div class="layui-upload">
							<button type="button" class="layui-btn layui-btn-normal" id="file">选择文件</button>
						</div>
					</div>
					<div class="layui-input-inline" style="width: 160px;">
						<input type="text" name="fileName" id="fileName" readonly="readonly" placeholder="文件名称" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-input-inline">
						<a class="layui-btn" id="fileUpload">
							<i class="layui-icon">&#xe62f;</i>开始上传
						</a>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">正面等次</label>
						<div class="layui-input-inline">
							<select id="positiveGrades" name="positiveGrades" lay-verify="required" lay-search="">
								<option id="positiveGradesV" value="">直接选择或搜索</option>
								<optgroup label="奖励">
									<option value="一等功">一等功</option>
									<option value="二等功">二等功</option>
									<option value="三等功">三等功</option>
								</optgroup>
								<optgroup label="巡视">
									<option value="优秀">优秀</option>
									<option value="良好">良好</option>
								</optgroup>
								<optgroup label="交流">
									<option value="优秀">优秀</option>
									<option value="良好">良好</option>
									<option value="合格">合格</option>
								</optgroup>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label for="L_repass" class="layui-form-label">
							<span class="x-red">*</span>备注
						</label>
						<div class="layui-input-inline">
							<input type="text" id="remarks" name="remarks" autocomplete="off" class="layui-input">
						</div>
					</div>



					<!-- 表单提交按钮部分-->
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<label for="L_repass" class="layui-form-label">
							</label>
							<a class="layui-btn" onclick="reset('clerkAddForm');">
								<i class="layui-icon">&#xe669;</i>c重置
							</a>
						</div>
						<div class="layui-input-inline">
							<label for="L_repass" class="layui-form-label">
							</label>
							<button class="layui-btn" lay-filter="add" lay-submit="">
								<i class="layui-icon">&#xe605;</i>提交
							</button>
						</div>
						<div class="layui-input-inline">
							<label for="L_repass" class="layui-form-label">
							</label>
							<a class="layui-btn" onclick="off()">
								<i class="layui-icon">&#x1007;</i>取消
							</a>
						</div>
					</div>

			</form>
		</div>

		<script>
			layui.use('upload', function() {
				var $ = layui.jquery,
					upload = layui.upload;

				//选完文件后不自动上传
				upload.render({
					elem: '#file',
					url: '/upload/',
					auto: false,
					accept: 'file', //所有文件
					//,multiple: true,
					exts: 'xls|xlsx', //只允许上传压缩文件
					//size: 500*1028 //限制文件大小，单位 KB
					bindAction: '#fileUpload',
					done: function(res) {
						layer.alert("上传成功");
					},
					choose: function(obj) {
						var files = obj.pushFile
						obj.preview(function(index, file, result) {
							$("#fileName").val(file.name);
						})
					}
				});
			});
		</script>
		<script>
			layui.use(['form', 'layer'], function() {
				// var  $ = layui.jquery;
				var form = layui.form,
					layer = layui.layer;

				//重置
				layui.onevent('reset', 'reset', function(data) {
					alert("123");
				})
				//监听提交
				form.on('submit(add)', function(data) {
					console.log(data);
					//发异步，把数据提交给php
					layer.alert("增加成功", {
						icon: 6
					}, function() {
						// 获得frame索引
						var index = parent.layer.getFrameIndex(window.name);
						//关闭当前frame
						parent.layer.close(index);
						// 可以对父窗口进行刷新 
						x_admin_father_reload();
					});
					return false;
				});

			});
		</script>

		
		<script>
			layui.use('laydate', function() {
				var laydate = layui.laydate,
					layer = layui.layer;
				var now = new Date().getTime();

				//自定义格式 入行时间
				var entryTime = laydate.render({
					elem: '#entryTime',
					format: 'yyyy-MM-dd',
					min: '1900-01-01',
					max: now,
					trigger: 'click',
					ready: function() {
						entryTime.hint('日期可选值设定在 <br> 1900-01-01 到今天');
					}
				});

				//毕业时间
				var graduateTime = laydate.render({
					elem: '#graduateTime',
					format: 'yyyy-MM-dd',
					min: '1900-01-01',
					max: now,
					trigger: 'click',
					ready: function() {
						graduateTime.hint('日期可选值设定在 <br> 1900-01-01 到今天');
					}
				});

				//出生年月
				var graduateTime = laydate.render({
					elem: '#birth',
					type: 'month',
					format: 'yyyy-MM',
					min: '1900-01-01',
					max: now,
					trigger: 'click'
				});

				//自定义格式 参加组织时间
				var entryTime = laydate.render({
					elem: '#OrganizationTime',
					format: 'yyyy-MM-dd',
					min: '1900-01-01',
					max: now,
					trigger: 'click',
					ready: function() {
						entryTime.hint('日期可选值设定在 <br> 1900-01-01 到今天');
					}
				});


			})
		</script>
	</body>

</html>
